<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelier | Minha Arte</title>

    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/arte.css">
    <script src="/static/js/arte.js" defer></script> 
</head>
<body>

    <!-- Cabeçalho -->
    <header class="topo">
        <button class="voltar" id="btn-voltar">Voltar</button>
        <h1>Minha Arte</h1>

        <label class="favoritos-toggle">
            <input type="checkbox" id="filtro-favoritos">
            Mostrar só favoritos
        </label>
    </header>

    <main class="galeria">
        
        <div class="grid-arte">
            {% for arte in artes %} <!-- Inicio do loop Jinja: percorre cada item da lista "artes", esta lista vem do Flask via render_template-->
                <div class="arte" data-id="{{ arte.id }}"> <!-- Card individual de uma arte, data-id recebe i id da arte vindo do JSON-->
                    <span class="estrela">☆</span> <!-- Botão de favorito, inicialmente vazio (☆) -->
                    <div class="imagem"> <!-- Container usado para layout e css -->
                        <img src="{{ arte.imagem }}" alt="{{ arte.titulo }}"> <!-- Imagem da arte, o caminho vem do JSON -->
                    </div>
                </div>  
            {% endfor %} 
        </div>
    </main>
        

</body>
</html>
