<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atelier | Exposed</title>

  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/exposed.css">
  <script src="/static/js/exposed.js" defer></script>
</head>

<body>

<script>
  // Protege a página
  if (localStorage.getItem("atelier_logado") !== "true") {
    window.location.href = "/";
  }
</script>

<div class="wrap">

  <div class="top">
    <button class="voltar" onclick="window.location.href='/home'">Voltar</button>

    <div class="titulo">
      <h1>Exposed</h1>
      <p>esboços de arte</p>
    </div>

    <div style="width:110px"></div>
  </div>

  <div class="linha"></div>

  <section class="grid"> <!-- Seção principal que organiza os cards do exposed -->
    <div class="grid-exposed"> <!-- Serve para agrupar os artigos gerados dinamicamente -->
      {% for item in exposed %} <!-- loop Jinja... para cada item do JSON , um <article> é criado -->
        <article class="paper"> 

          <img class="sketch" src="{{ item.imagem }}"> <!-- A imagem do esboço é inserida aqui, o caminho vem do JSON -->

          <div class="cap">
            <span>{{ item.titulo }}</span> <!-- Título do esboço, vindo do JSON (item.titulo) -->
            <span class="tag">{{ item.tag }}</span> <!-- tag ou categoria do esboço, vindo do JSON (item.tag)-->
          </div>

          <div class="card">
            <div class="fechar-card">X</div>
            <div class="card-capa">{{ item.titulo }}</div>

            <div class="card-conteudo">
             <div class="artes"></div>
             <button class="adicionar">Adicionar Arte</button>
            </div>
          </div>
        </article>
      {% endfor %}  
    </div>
  </section>
</div>

</body>
</html>
