<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atelier | Inspirações</title>

  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/inspiracoes.css">
</head>

<body>

<script>
  // Protege a página
  if (localStorage.getItem("atelier_logado") !== "true") {
    window.location.href = "/";
  }
</script>

<div class="wrap">

  <div class="top">
    <button class="voltar" onclick="window.location.href='/home'">Voltar</button>

    <div class="titulo">
      <h1>Inspirações</h1>
      <p>imagens e pensamentos</p>
    </div>

    <div class="espaco"></div>
  </div>

  <div class="linha"></div>

    <section class="grid">
      
      {% for item in inspiracoes %} <!-- Loop JINJA (Flask) para cada item da lista "inspiracao" enviada pelo app.py, cria um card de imagem -->
        <article class="paper">
          <img class="inspo-img" src="{{ item.imagem }}" alt=""> <!-- Imagem da inspiracão "item.imagem" vem do dicionário criado no Flask. -->
        </article>
      {% endfor %}
    
    </section>
  
</div>

<div class="lightbox" id="lightbox">
  <img src="" alt="">
</div>

<script> // Script do LIGHTBOX, responsavel por abrir e fechar a imagem em destaque 
  const imagens = document.querySelectorAll(".inspo-img"); // Seleciona todas as imagens renderizadas 
  const lightbox = document.getElementById("lightbox"); // Seleciona o lightbox
  const lightboxImg = lightbox.querySelector("img"); // Seleciona a imagem dentro do lightbox 

  // Adiciona um evento de clique para cada imagem, que ao ser clicada, exibe a imagem no lightbox
  imagens.forEach(img => {
    img.addEventListener("click", () => {
      lightboxImg.src = img.src;
      lightbox.style.display = "flex";
    });
  });

  // Fecha o lightbox ao clicar fora da imagem
  lightbox.addEventListener("click", () => {
    lightbox.style.display = "none";
    lightboxImg.src = "";
  });
</script>

</body>
</html>
